<%= simple_form_for(property) do |form| %>
  <% if property.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.input :section %>
    <%= form.input :street_number %>
    <%= form.input :street_name %>
    <%= form.input :tax_identifier, hint: 'Use format from SDAT (## ### ########)' %>
    <%= form.input :membership_eligible?, as: :boolean %>
    <%= form.input :for_sale?, as: :boolean %>
    <%= form.association :lots, label_method: :lot_number, collection: Lot.order(:lot_number) %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
