
<%= simple_form_for(@resident) do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= form.input :last_name %>
    <%= form.input :first_name, as: :string %>
    <%= form.input :email_address, as: :string %>
    <%= form.input :is_minor %>
    <%= form.input :age_of_minor, as: :integer, hint: 'Only needed for minor' %>

    <h4>Properties</h4>
    <div data-controller="nested-form">
      <template data-target="nested-form.template">
        <%= form.fields_for :residencies, Residency.new, child_index: 'NEW_RECORD' do |residency_form| %>
          <%= render "residency_fields", form: residency_form %>
        <% end %>
      </template>

      <%= form.fields_for :residencies do |residency| %>
        <%= render "residency_fields", form: residency %>
      <% end %>

      <div class="mb-3" data-target="nested-form.links">
        <%= link_to "Add property", "#", class: "btn btn-outline-primary", data: { action: "click->nested-form#add_association" } %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= form.button :submit %>
  </div>
<% end %>
