<div id="<%= dom_id resident %>">
  <p>
    <strong>Last name:</strong>
    <%= resident.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= resident.first_name %>
  </p>

  <p>
    <strong>Email address:</strong>
    <%= resident.email_address %>
  </p>

  <p>
    <strong>Verified at:</strong>
    <%= resident.verified_at %>
  </p>

  <p>
    <strong>Is minor:</strong>
    <%= resident.is_minor %>
  </p>

  <p>
    <strong>Age of minor:</strong>
    <%= resident.age_of_minor %>
  </p>


  <h3>Properties</h4>
  <ol>
  <%- for residency in resident.residencies %>
    <li><%= residency.street_address %>
      <ul>
        <li>
          <strong>Residency Status:</strong>
          <%= residency.resident_status_i18n %>
        </li>
      </ul>
      <h4>Lots</h4>
      <ol>
        <%- for lot in residency.property.lots %>
          <li>
            <%= lot.lot_number %>, 
            <strong>Paid On:</strong><%= lot.paid_on %>
          </li>
        <%- end %>
      </ol>
    </li>
  <%- end %>
  </ol>
</div>
