<div id="<%= dom_id resident %>">
  <p>
    <strong>Last name:</strong>
    <%= resident.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= resident.first_name %>
  </p>

  <p>
    <strong>Email address:</strong>
    <%= resident.email_address %>
  </p>

  <p>
    <strong>Is minor:</strong>
    <%= resident.is_minor %>
  </p>

  <p>
    <strong>Age of minor:</strong>
    <%= resident.age_of_minor %>
  </p>


  <h3>Properties</h4>
  <ol>
  <%- for residency in resident.residencies %>
    <li><%= link_to residency.street_address, residency.property %>
      <ul>
        <li>
          <strong>Residency Status:</strong>
          <%= residency.resident_status_i18n %>,
          <strong>Verified On:</strong>
          <%= residency.verified_on %>
        </li>
      </ul>
      <h4>Lots</h4>
      <ol>
        <%- for lot in residency.property.lots %>
          <li>
            <%= link_to lot.lot_number, lot %>, 
            <strong>Paid On:</strong><%= lot.paid_on %>
          </li>
        <%- end %>
      </ol>
    </li>
  <%- end %>
  </ol>
</div>
