<div id="<%= dom_id lot %>">
  <p>
    <strong>District:</strong>
    <%= lot.district %>
  </p>

  <p>
    <strong>Subdivision:</strong>
    <%= lot.subdivision %>
  </p>

  <p>
    <strong>Account number:</strong>
    <%= lot.account_number %>
  </p>

  <p>
    <strong>Lot number:</strong>
    <%= lot.lot_number %>
  </p>

  <p>
    <strong>Section:</strong>
    <%= lot.section %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= lot.size %>
  </p>

</div>
