<!DOCTYPE html>
<html>
  <head>
    <title>Registrar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <menu>
        <li><%= link_to "Home", '/' %></li>
        <li><%= link_to "Lots", lots_path %></li>
      </menu>
    </nav>
    
    <%= yield %>
  </body>
</html>
